* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgba(10, 20, 30, 1);
    color: white;
    font-family: sans-serif;
}

h1 {
    margin-block: 2vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    margin-block: 2vh;
}

form > div {
    display: grid;
}

.hidden {
    display: none !important;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    width: 65%;
    aspect-ratio: 1;
    margin-inline: auto;
}

@media screen and (max-width: 380px) {
    #grid {
        grid-template-columns: 1fr;
    }
    
}

.card {
    position: relative;
}

.card > footer {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    padding-inline: 1vw;
}

img {
    width: 100%;
    margin-inline: auto;
}

h2 {
    background: rgba(10, 20, 30, .5);
    position: relative;
    font-size: small;
}