@keyframes flip {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        opacity: 1;
    }
    100% {
        transform: rotate3d(0, 1, 0, 180deg);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgba(10, 20, 30, 1);
    color: white;
}

h1 {
    margin-block: 2vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: grid;
    margin-block: 2vh;
}

.hidden {
    display: none !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 65%;
    aspect-ratio: 1;
    margin-inline: auto;
}

.card {
    aspect-ratio: 1/2;
    border: 1px dotted white;
    display: grid;
    align-items: center;
    cursor: pointer;
    padding-inline: 1vw;
}

.card ul {
    list-style-type: none;
}

.card ul li {
    padding-block: 5px;
}

.flip {
    animation: flip 1s ease-in-out;
}

img {
    width: 50%;
    margin-inline: auto;
}

h2 {
    background: rgba(10, 20, 30, .5);
    position: absolute;
}